body {
  background-color: #aae3de;
  padding-top: 10vh;
}

h1 {
  font-family: 'Cabin Sketch';
  color: #15522d;
  font-size: 7vh; 
}

.container {
  display: flex;
  align-items: center;
  text-align: center;
  width: 80%;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;

  gap: 10px;
}

.item {
  width: 400px;
  display: flex;
  justify-content: center;
  justify-items: center;
  text-align: center;
  align-items: center;
}

.btn {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  border: 1;
  border-style: solid;
  font-family: 'Cabin Sketch';
  font-size: 4vh;
  color: #15522d;
  border-color: #15522d;
  height: 12vh;
  width: 400px;
}

#fix {
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  border-bottom-right-radius: 225px 15px;
  border-bottom-left-radius: 10px 255px;
}

#commute {
  border-top-left-radius: 6px 200px;
  border-top-right-radius: 260px 10px;
  border-bottom-right-radius: 13px 244px;
  border-bottom-left-radius: 300px 12px;
}

#title-container {
  padding-bottom: 7%;
}